<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mis Perris</title>
        <link rel="icon" href="img/logo2.jpg" />
        <link rel="stylesheet" href="styles/fontello.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/menu.css">
        <link rel="stylesheet" href="styles/banner.css">
        <link rel="stylesheet" href="styles/blog.css">
        <link rel="stylesheet" href="styles/carousel.css">
        <link rel="stylesheet" href="styles/galery.css">
        <link rel="stylesheet" href="styles/flexslider.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/jquery.fancybox.css" media="screen" />

    </head>
    <body>
        <header>
            <div class="cont">
                <a href="index.html">
                    <img id="imgLogo" src="img/logo.png" alt="logo mis perris" />
                </a> 
               <input type="checkbox" id="menu-bar">
               <label class="icon-menu" for="menu-bar"></label>
               <nav class="menu">
                    <a href="#">Inicio</a>
                    <a href="#">¿Quiénes Somos?</a>
                    <a href="#">Servicios</a>
                    <a href="pages/signup.html">REGÍSTRATE</a>
               </nav>
            </div>
        </header>

        <main>
            <div class="carousel">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="img/Tom.jpg" alt="Tom" />
                            <p class="flex-caption">"Estamos felices de tener a nuestro pequeño Tom en casa. Es super fiel compañero"</p>
                        </li>
                        <li>
                            <img src="img/Duque.jpg" alt="Duque"/>
                            <p class="flex-caption">"Siempre nos alegra el día nuestro Duque, es demasiado juguetón y cariñoso"</p>
                        </li>
                        <li>
                            <img src="img/Apolo.jpg" alt="Apolo"/>
                            <p class="flex-caption">"Nos alegra tener a Apolo en nuestro hogar, es muy cariñoso y nos saca sonrisas"</p>
                        </li>
                    </ul>
                </div>
            </div>
    

            <div class="blog">
                <div class="cont">
                    <article id="rescue">
                        <h2><b>RESCATE</b></h2>
                        <h3>ETAPA UNO</h3>
                        <h3>______</h3>
                        <h4>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los </h4>
                        <br>
                        <h4>preparamos para buscarles un hogar.</h4>
                        <img id="imgRescate" src="img/rescate.jpg" alt="perro rescate">
                    </article>

                    <article id="crowd">
                        <img id="imgCrowdfunding" src="img/crowfunding.jpg" alt="crowdfunding">
                        <h2><b>CROWDFUNDING</b></h2>
                        <h3>FINANCIAMIENTO</h3>
                        <h3>______</h3>
                        <h4>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y</h4>
                        <br>
                        <h4>actividades que realizamos para obtener financiamiento para seguir ayudando.</h4>
                        <a href="#"><b>CAMPAÑAS</b></a>
                    </article>
                </div>
            </div>

            <div class="galery">
                <div class="photos">
                    <a class="fancybox" href="img/Bigotes.jpg" data-fancybox-group="gallery" title="Bigotes">
                        <img src="img/Bigotes_tn.jpg" alt="" />
                    </a> 
                    <a class="fancybox" href="img/Chocolate.jpg" data-fancybox-group="gallery" title="Chocolate">
                        <img src="img/Chocolate_tn.jpg" alt="" />
                    </a> 
                    <a class="fancybox" href="img/Wifi.jpg" data-fancybox-group="gallery" title="Wifi">
                        <img src="img/Wifi_tn.jpg" alt="" />
                    </a>
                    <a class="fancybox" href="img/Luna.jpg" data-fancybox-group="gallery" title="Luna">
                        <img src="img/Luna_tn.jpg" alt="" />
                    </a> 
                    <a class="fancybox" href="img/Maya.jpg" data-fancybox-group="gallery" title="Maya">
                        <img src="img/Maya_tn.jpg" alt="" />
                    </a> 
                    <a class="fancybox" href="img/Oso.jpg" data-fancybox-group="gallery" title="Oso">
                        <img src="img/Oso_tn.jpg" alt="" />
                    </a>
                    <a class="fancybox" href="img/Pexel.jpg" data-fancybox-group="gallery" title="Pexel">
                        <img src="img/Pexel_tn.jpg" alt="" />
                    </a>
                </div>
            </div>
        </main>

        <footer>
            <div class="cont">
                <p class="copy">Mis Perris &copy; 2018</p>
                <a href="tel:56998765431">
                    <br>+569 9 876 654 31
                </a>
                <div class="social">
                    <a class="icon-facebook-circled" href="#"></a>
                    <a class="icon-google-plus-circle" href="#"></a>
                    <a class="icon-instagram-circled" href="#"></a>
                    <a class="icon-mail-circled" href="#"></a>
                </div>
            </div>

        </footer>
        <script>
            $(window).load(function() {
                $('.flexslider').flexslider({
                    animation: "slide"
                });
            });
            </script>
        
            <script>
                $(document).ready(function() {
                    $('.fancybox').fancybox({ keyboard : true });
                 
                });
            </script>
    </body>
</html>